<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial     00..q1-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ViewForm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <table border = "2" cellspacing = "10" width="60%">
                        <tr>
                            <td>{{x}}</td>
                            <td>{{y}}</td>
                            <td>{{z}}</td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
</body>
</html>